{% extends 'base_admin.html.twig' %}

	{% block title %}Bienvenue sur Pear!{% endblock %}

	{% block body %}
		<style>
			.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
			.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
		</style>

			<h1> Bienvenue sur Pear cher Administrateur ! </h1>

		<div>
			<p> Pear est un site de gestion de prêt de materiel. </p>

		<div>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/login'">Connexion</button>
		</div>

		<div>
			<h4>Client</h4>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/list-clients'">Liste des clients</button>
		</div>

		<div>
			<h4>Preteur</h4>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/list-lenders'">Liste des preteurs</button>
		</div>

		<div>
			<h4>Produit<h4>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/add-product'">Ajouter un objet</button>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/list-products-by-lender'">Liste de mes objets</button>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/list-products'">Lister les objets</button>

		</div>

		<div>
			<h4>Emprunts<h4>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/list-borrowings'">Lister les emprunts</button>
			<button type="button" class="btn btn-outline-primary" onclick="self.location.href='/list-my-borrowings'">Lister mes emprunts</button>
		</div>

	
		</div>

	{% endblock %}
