{% extends 'base.html.twig' %}

	{% block title %}Bienvenue sur Pear!{% endblock %}

	{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

	<h1> Bienvenue sur Pear! </h1>
	<div>
<p> Pear est un site de prêt gestion de prêt de materiel. Pour l'utiliser vous devez d'abord créer un compte</p>

<div>
<h3>Client</h3>
<input type="button" name="add_client_link" value="S'enregistrer" onclick="self.location.href='/add-client'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
<input type="button" name="list_client_link" value="visualiser les clients" onclick="self.location.href='/list-clients'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick>
<input type="button" name="delete_client_link" value="Supprimer un client" onclick="self.location.href='/delete-client'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
</div>

<div>
<h3>Preteur</h3>
<input type="button" name="add_lender_link" value="Passer un utilisateur en préteur" onclick="self.location.href='/add-lender'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
<input type="button" name="list_lender_link" value="Visualiser les préteurs" onclick="self.location.href='/list-lenders'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 	
</div>

<div>
<h3>Produit<h3>
<input type="button" name="add_product_link" value="Ajouter un objet" onclick="self.location.href='/add-product'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
<input type="button" name="list_object_link" value="Voir la liste des objets" onclick="self.location.href='/list-products'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
<input type="button" name="delete_products_link" value="Supprimer un produit" onclick="self.location.href='/delete-products'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
</div>


{# <input type="button" name="connection" value="Se connecter" onclick="self.location.href='/conection'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 	 #}
 	
</div>

	{% endblock %}
