{% extends 'base.html.twig' %}
 {% block title %}Liste des clients{% endblock %}
 
    {% block body %}
    	<table>
            <tr>
    			<th> Utilisateur : </th>

            </tr>

    		{%for lender in listLender %}
			<tr>
    			<td>{{ lender.iduser }}</td> 
			</tr>    			
    		{% endfor %}
    	</table>
		<div> 
<input type="button" name="home_link" value="Revenir à la page d'accueil" onclick="self.location.href='/'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick> 
</div>
{% endblock %}